/* Optional: Add some hover/focus effect for better UX */
#searchInput:focus {
    border-color:#81c408;
    outline: none;
    box-shadow: #81c408;
}

#searchToggleBtn {
    border-radius: 50px;
}

#searchToggleBtn:hover,
#searchToggleBtn:focus {
    background-color: #81c408;
    color: white;
    border-color: #81c408;
}


/* Keep alignment tight on smaller screens */
@media (max-width: 576px) {
    #searchForm {
        max-width: 140px;
    }
}